

<div class="jumbotron">
	<div class="text-center" >
		<h1>Welcome to LAN-Seeker!</h1>
		<h4>Doing our part to bring the gaming community together.</h4>
	</div>
</div>


<% if user_signed_in? %>
	<% if current_user.profile %>
		<div class="row">
			<div class="col-md-3">
				<h2 class="text-center">Profile Options</h2>
				<div class="well">
					<%= link_to edit_user_profile_path(current_user) do %>
						<span class='btn btn-primary btn-block'>Edit profile <i class='fa fa-pencil-square'></i></span>
					<% end %>
					<br>
					<%= link_to user_path(current_user) do %>
						<span class='btn btn-info btn-block'>Profile <i class='fa fa-user'></i></span>
					<% end %>
					<br>
					<%= link_to messages_path do %>
						<span class='btn btn-info btn-block'>Messages <i class='fa fa-envelope'></i></span>
					<% end %>
				</div>
			</div>
		</div>
	<% else %>
		<%= link_to "Create a Profile", new_user_profile_path(current_user), class:'btn btn-warning btn-block' %>
	<% end %>

	<!-- this code is JS for linking to redirected path -->
	<script type="text/javascript">//window.location.href='#';</script>
<% else %>

	<div class="row">
		<% if user_signed_in? %>

		<% else %>
			<div class="col-md-6">
				<div class="well">
					<h1 class="text-center">Sign Up</h1>
					<p class="text-center">While you're here you mite as well sign up. I mean its completely free and everything <i class='fa fa-smile-o'></i></p>
					<%= link_to "Sign Up", new_user_registration_path, class:"btn btn-info btn-lg btn-block" %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>