<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<ul class="list-unstyled">
				<%= link_to "http://www.google.com", target:'_blank', class:'classed-up' do %>				
					<%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Google_Chrome_icon_(2011).svg/2000px-Google_Chrome_icon_(2011).svg.png', width:'20px', class:'classed-up' %>
					Google Chrome
				<% end %>	
			</ul>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12" >
		<div class='well'>
			<h1 class="text-center">Welcome to LAN-Seeker!</h1>
			<h4 class="text-center">Doing our part to bring the gaming community together.</h4>
		</div>
	</div>
</div>



<% if user_signed_in? %>
	<% if current_user.profile %>
		<div class="row">
			<div class="col-md-3">
				<h2 class="text-center">Profile Options</h2>
				<div class="well">
					<%= link_to edit_user_profile_path(current_user) do %>
						<span class='btn btn-primary btn-block'>Edit profile <i class='fa fa-pencil-square'></i></span>
					<% end %>
					<br>
					<%= link_to user_path(current_user) do %>
						<span class='btn btn-info btn-block'>Profile <i class='fa fa-user'></i></span>
					<% end %>
					<br>
					<%= link_to messages_path do %>
						<span class='btn btn-info btn-block'>Messages <i class='fa fa-envelope'></i></span>
					<% end %>
				</div>
			</div>
		</div>
	<% else %>
		<%= link_to "Create a Profile", new_user_profile_path(current_user), class:'btn btn-warning btn-block' %>
	<% end %>

	<!-- this code is JS for linking to redirected path -->
	<script type="text/javascript">//window.location.href='#';</script>
<% else %>

	<div class="row">
		<% if user_signed_in? %>

		<% else %>
			<div class="col-md-6">
				<div class="well">
					<h1 class="text-center">Sign Up</h1>
					<p class="text-center">While you're here you mite as well sign up. I mean its completely free and everything <i class='fa fa-smile-o'></i></p>
					<%= link_to "Sign Up", new_user_registration_path, class:"btn btn-info btn-lg btn-block" %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>


